/* Throughout this document comments for solid borders have added to use as visual aids for styling
purposes.  They can easily be toggled off/on to better determine margins, borders, positioning, etc.

The variables below have been added to reference the most commonly used colors. */
:root {
    --txt-color: #ffffff;
    --bkgd-main1: #d9dcd6;
    --bkgd-main2: #eeeeee;
    --cap-border: solid black 2px;


    --color0: #D9ED92;
    --color1: #B5E48C;
    --color2: #99D98C;
    --color3: #76C893;
    --color4: #52B69A;
    --color5: #34A0A4;
    --color6: #168AAD;
    --color7: #1A759F;
    --color8: #1E6091;
    --color9: #184E77;

    --gradient1: linear-gradient(45deg, #52B69A, #1A759F, #52B69A);

    --shadow: 10px 20px 20px black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Playfair Display, serif;
}

/*General styling for paragraph and body elements.*/
p {
    font-size: 1.5rem;
    width: 75%;
    margin-right: 10px;
}

body {
    background-color: var(--bkgd-main1);
}

h2 {
    margin-right: 20px;
    border-right: solid black 3px;
    text-align: right;
    padding-right: 10px;
    width: 15%;
    font-size: 2rem;
}

/*Header and Navigation menu styling.

Used to syle the header.  Also includes a background image to addy style.*/
.hamburger {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: slategrey;
    color: #ffffff;
    background-image: url('../images/universe.webp');
    background-size: cover;
}

h1 {
    font-size: 3rem;
    flex-basis: 20%;
    flex-basis: 40%;
    text-align: center;
}

#job-title {
    display: block;
    font-size: 2rem;
}

/*Professional Headshot.  The position of this element was changed for testing.  This may
need to be changed before final release.*/
#headshot {
    /*This will create a circular image.*/
     border-radius: 100%;
     margin-left: 1%;
     position: absolute;
     top: 1%;
     left: 0;
}

/*This sets the navigation menu.  The class was created for additional specificity weight.


Anchor seection used to style links and anchor elements with hover properties and 
styling after click.*/

.navigation {
    flex-wrap: wrap;
    padding: 0;
    margin-top: 3%;
}

/*Used to remove the link underlining*/
a {
    text-decoration: none;
    padding: 0;
    color: var(--txt-color);
}

/* This gives links in the navigation menu a grey background when hovered. */
.navigation ul li:hover {
    transform: translate(0, -10px);
}

/* This styles links so the text color does not blend into the header background after click. */
.navigation a:visited {
    color: var(--txt-color);
}

/* A flex container was needed separately for this container to syle the list elements. */
.navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
}

.navigation ul li {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 2rem;
    color: var(--txt-color);
    border-bottom: solid var(--color5) 3px;
    border-radius: 10%;
    transition: 0.5s;
}

/*Image section after navigation menu*/
.hero-image {
    display: flex;
    background-image: url("../images/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.hero-image p {
    font-size: 4rem;
    text-align: center;
    width: 100%;
}

/*About Me section.*/
.about-container {
    display: flex;
    padding: 20px 20px;
    background-color: var(--bkgd-main2);
}

#personal-intro {
 margin: 0 auto; 
}

/*Work section including links to applications.*/

.work-container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-bottom: 2%;
}

.app-label {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    right: 21.2%;
    bottom: 25%;
    background-color: var(--bkgd-cap);
    border: var(--cap-border);
}

#app-1 {
    margin-left: 2%;
    flex-basis: 20%;
    box-shadow: var(--shadow);
    transition: 0.5s;
}

#app-1 img {
    width: 400px;
}

#apps-2-3, 
#apps-4-5,
#apps-6-7 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    flex-basis: 10%;
    margin-left: 3%;
}

#apps-2-3 img,
#apps-4-5 img,
#apps-6-7 img {
    width: 300px;
    height: 250px;
}

.app-img {
    border: var(--cap-border);
}

.work-container figcaption {
    background: var(--gradient1);
    border: var(--cap-border);
    width: 250px;
    text-align: center;
    margin: 0 auto;
}

.figure {
    padding: 5px;
    justify-content: center;
    transition: 0.5s;
    box-shadow: var(--shadow);
}

/* This adds a hover effect for the application images to allow them to shift up slightly. */
.figure:hover,
#app-1:hover {
   transform: translate(0, -10px);
}

/*Contact Me section Formatting*/
.contact-me {
    display: flex;
    padding: 20px 20px;
    background-color: var(--bkgd-main2);
    }

.contact-container {
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 5px;
    flex-basis: 75%;
    padding: 5px;
}

/* This adds icon links before contact me information.  The links were resized in MS Paint before adding. */ 

#phone-ico::before {
    content: url(../images/phone_icon.png);
 }

#gmail-ico::before {
    content: url(../images/gmail.jpg);
}

#github-ico:before {
    content: url(../images/github.ico);
}

#linkedin-ico::before {
    content: url(../images/linkedin.jpg);
}

/* This will keep the contact me section links with black text to avoid blending in with the background
both before and after clicks. */
.icons, 
.icons a:visited {
    color: black;
}

/* This removed multiple lines of repetitious code to style the icons. */
.icons::before {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

/* Footer styling */
footer,
footer p {
    font-size: 1em;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

/* Media Queries - At a breakpoint of 740px the content will need to change flex
direction to use columns. */

/* This moves the headshot down the screen for a better experience on smaller screens. */
@media screen and (max-width: 1500px) {
    #headshot{
        top: 41%;
    }
}

@media screen and (max-width: 740px) {

/* This pushes the headings for each section to the top for improved legibility.
The width of 100% allows the solid border to extend the width of the containter for 
improved definition and styling of each individual section. */
   
    h2 {
        border-bottom: solid black 3px;
        border-right: none;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    #about-me {
        flex-direction: column;
        align-items: center;
    }

    .work-container {
        flex-direction: column;
    }

    #personal-intro {
        text-align: center;
    }

    #label-mkt {
        right: -73.1%;
    }

    #app-1 {
        padding-left: 0;
    }

    #apps-2-3 {
        flex-direction: column;
        padding-left: 0;
        margin-left: 10px;
    }

    .contact-me {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 580px) {
    #headshot {
        top: 28%;
        left: 32%;
    }

    h1 {
        flex-basis: 100%;
    }

    .hero-image p {
        display: none;
    }

    #label-mkt {
        right:-29.1%;
    }

    .apps {
        flex-basis: 50%;
    }

    #app-1 img {
        width: 100%; 
    }
    
    #apps-2-3 img,
    #apps-4-5 img,
    #apps-6-7 img {
        margin-left: 7%;
    }

    .figure,
    #app-1 {
        margin-top: 20px;
        width: 90%;
        /* margin: 0 auto; */
    }

    .work-container {
        flex-wrap: nowrap;
    }

    /* Hamburger Menu */
    .hamburger {
        display: inline-block;
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 3px;
        background: white;
        border: solid black 2px;
    }

    .closeIcon {
        display: none;
    }

    .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform(0.2s);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 99;
        /* background: black; */
        color: white;
        list-style: none;
        padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(0%);
    }

    .navigation ul {
        display: inline-block;
    }

    .navigation ul li {
        background: black;
        border-radius: 0%;
    }

    
}

