/* Throughout this document comments for solid borders have added to use as visual aids for styling
purposes.  They can easily be toggled off/on to better determine margins, borders, positioning, etc. */

/* The variables below have been added to reference the most commonly used colors. */
:root {
    --txt-color: #ffffff;
    --bkgd-main1: #d9dcd6;
    --bkgd-main2: #eeeeee;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*General styling for paragraph and body elements.*/
p {
    font-size: 1.5rem;
    width: 75%;
    margin-right: 10px;
}

body {
    background-color: var(--bkgd-main1);
}

h2 {
    margin-right: 20px;
    border-right: solid black 3px;
    text-align: right;
    padding-right: 10px;
    width: 15%;
    font-size: 2rem;
    /* border: solid black 3px; */
}

/*Header and Navigation menu styling.

Used to syle the header.  Also includes a background image to addy style.*/
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: slategrey;
    color: #ffffff;
    background-image: url('../images/universe.webp');
    background-size: cover;
}

h1 {
    font-size: 3rem;
    flex-basis: 20%;
    /*border: 5px solid black;*/
    flex-basis: 40%;
    text-align: center;
}

#job-title {
    display: block;
    font-size: 2rem;
}

/*Professional Headshot.  The position of this element was changed for testing.  This may
need to be changed before final release.*/
#headshot {
    /*This will create a circular image.*/
     border-radius: 100%;
     margin-left: 1%;
     position: absolute;
     top: 1%;
     left: 0;
}

/*This sets the navigation menu.  The class was created for additional specificity weight.


Anchor seection used to style links and anchor elements with hover properties and 
styling after click.*/

.navigation {
    flex-wrap: wrap;
    /*border: 5px solid black;*/
    padding: 0;
    margin-top: 3%;
}

/*Used to remove the link underlining*/
a {
    text-decoration: none;
    padding: 0;
    color: var(--txt-color);
}

/* This gives links in the navigation menu a grey background when hovered. */
.navigation a:hover {
    background-color: grey;
}

/* This styles links so the text color does not blend into the header background after click. */
.navigation a:visited {
    color: var(--txt-color);
}

/* A flex container was needed separately for this container to syle the list elements. */
.navigation ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
}

.navigation ul li {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 2rem;
    color: var(--txt-color);
    border-bottom: solid teal 3px;
    border-radius: 20%;
}

/*Image section after navigation menu*/
.hero-image {
    display: flex;
    background-image: url("../images/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.hero-image p {
    font-size: 4rem;
    text-align: center;
    width: 100%;
}

/*About Me section.*/
.about-container {
    display: flex;
    padding: 20px 20px;

    background-color: var(--bkgd-main2);
}

#personal-intro {
 margin: 0 auto; 
}

/*Work section including links to applications.*/

.work-container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-bottom: 20px;
    /* border: solid black 5px; */
}

.app-label {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    right: 20.8%;
    bottom: 25%;
    background-color: teal;
    border: solid aqua 5px;
}

#app-1 {
    /* border: solid black 3px; */
    margin-bottom: 30px;
}

#apps-2-3 {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
    margin-left: 16%;
    /* border: solid black 3px; */
}

.app-img {
    border: solid aqua 5px;
}

/*Contact Me section Formatting*/
.contact-me {
    display: flex;
    /* margin-left: 15px; */
    padding: 20px 20px;
    background-color: var(--bkgd-main2);
    }

.contact-container {
    font-size: 1.5rem;
    color: teal;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 5px;
    /*border: 5px solid black;*/
    flex-basis: 75%;
    padding: 5px;
}

/* This adds icon links before contact me information.  The links were resized in MS Paint before adding. */ 
#linkedin-ico::before {
    content: url(../images/linkedin.jpg);
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

#github-ico:before {
    content: url(../images/github.ico);
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

#gmail-ico::before {
    content: url(../images/gmail.jpg);
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}


/* Media Queries - At a breakpoint of 740px the content will need to change flex
direction to use columns. */

@media screen and (max-width: 740px) {

/* This pushes the headings for each section to the top for improved legibility.
The width of 100% allows the solid border to extend the width of the containter for 
improved definition and styling of each individual section. */
   h2 {
        border-bottom: solid black 3px;
        border-right: none;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }

    #about-me {
        flex-direction: column;
        align-items: center;
    }

    .work-container {
        flex-direction: column;
    }

    #label-mkt {
        right: -73.1%;
    }

    #apps-2-3 {
        flex-direction: column;
    }

    .contact-me {
        flex-direction: column;
        align-items: center;
    }
}


